.emailDetailsIconBack {
  margin: 10px;
}

.emailDetailsCont {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .emailDetailHeader {
    display: flex;
    justify-content: space-between;
  }

  .rightSideHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
  }

  .iconEmailDetail {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;



    .favIconEmailDetail {
      &:hover {
        background-color: rgba(128, 128, 128, 0.234);
        border-radius: 50px;
      }
    }

 
  }
  .emailTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .from {
    display: flex;
    justify-content: space-between;

    .userEmailDetails {
      display: flex;
      align-items: center;
      gap: 30px;

      .userIcon {
        color: grey;
        background-color: rgba(128, 128, 128, 0.283);
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
      }
    }
  }
}
