@import "../../global.scss";

.emailDetailsIconBack {
  margin: 10px;
}

.emailDetailsCont {
  padding: 60px 50px;
  @include flex-container(column);
  gap: 30px;

  .emailDetailHeader {
    @include flex-container(space-between);
  }

  .rightSideHeader {
    @include flex-container(column, flex-start, center);
    gap: 10px;
  }

  .iconEmailDetail {
    @include flex-container;
    gap: 20px;
    font-size: 20px;

    .favIconEmailDetail {
      &:hover {
        background-color: $secondary-bg-color;
        border-radius: 50px;
      }
    }
  }

  .emailTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 60px;
  }

  .from {
    @include flex-container(space-between);

    .userEmailDetails {
      @include flex-container;
      gap: 30px;

      .userIcon {
        color: $main-text-color;
        background-color: $secondary-bg-color;
        padding: 10px;
        border-radius: 50%;
        font-size: 1.2rem;
      }
    }
  }
}
