@import "../../global.scss";

.emailFolderList {
  @include flex-container(column, start, start);
  width: 20vw;
  background-color: $primary-bg-color;
  gap: 25px;
  padding: 15px;

  @include respond-to("small") {
    position: fixed;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 10;
    left: -100%;
    transition: left 0.5s ease-in-out;
  }
}

.composeBtn {
  background-color: #c1e7fe;
  width: 50%;
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  @include flex-container();
  gap: 10px;
  &:hover {
    box-shadow: 5px 5px 5px $secondary-bg-color;
  }

  @media (max-width: 1200px) {
    width: 80%;
  }
  @include respond-to("small") {
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 50%;
  }
}

.links {
  @include flex-container(column, flex-start, flex-start);
  .navLink {
    color: rgb(63, 62, 62);
    @include flex-container(center);
    gap: 20px;
    border-radius: 35px;
    padding: 0 15px;
    font-size: 20px;
    transition: background-color 0.3s;
    height: 40px;
    &:hover {
      background-color: #e3e3e7;
    }
    &.active {
      background-color: #d3e2fd;
      font-weight: bold;
    }
    .unreadIndicator {
      color: #797c81;
      font-size: 1rem;
    }
  }
  @include respond-to("small") {
    display: none;
  }
}

.showMenu {
  @include respond-to("small") {
    @include flex-container(column);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    overflow-y: auto;
    background-color: $primary-bg-color;
    padding-top: 60px;
    z-index: 10;
  }
}

.hamburgerIcon {
  display: none;

  @include respond-to("small") {
    display: block;
    position: fixed;
    top: 35px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
  }
}

.isMenuOpen {
  @include respond-to("small") {
    left: 0;
  }
}
