@import "../../global.scss";

.btnFilter {
  @include flex-container;
  gap: 10px;
  height: auto;
  margin: 10px 0;
  flex-wrap: wrap;

  @include respond-to("small") {
    display: none;
  }

  input {
    margin-left: 15px;
    height: auto;
  }

  > button {
    border-radius: 5px;
    border: 1px solid $main-text-color;
    cursor: pointer;
    background-color: white;
    padding: 2px 6px;

    &:hover {
      background-color: $secondary-bg-color;
    }
  }
}
