@import "../../global.scss";

.userMsg {
  background-color: #202123;
  padding: 0.5em 1em;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #c4c4c5;
  font-weight: bold;
  border-radius: 2px;
  @include flex-container;

  button {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  .optBtn {
    padding: 10px;
    color: #7b9ed9;
    &:hover {
      background-color: rgba(195, 205, 225, 0.202);
    }
  }

  .closeBtn {
    color: #c4c4c5;
  }
}
