.emailIndex {
    display: flex;
    height: 90vh;

    .listContainer{
        border-radius: 6px;
        border: 1px solid #00000026;
        width: 80vw;

        @media (max-width: 950px) {
          width: 100vw;
        }
    }
}



