#root {
  background-color: #f7f8fc;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* nav */

nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: #f7f8fc;
  gap: 25px;
}

.nav-link,
.compose-btn {
  color: rgb(63, 62, 62);
  text-decoration: none;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  height: 40px;
  align-items: center;
}

.compose-btn,
.compose-btn-draft {
  background-color: #c1e7fe;
  width: 60%;
  font-size: large;
  border-radius: 5px;
  border: none;
  justify-content: center;
}

.compose-btn-draft {
  background-color: transparent;
}

.nav-link {
  border-radius: 35px;
  padding: 0 15px;
  font-size: 20px;
}

.links .nav-link.active {
  background-color: #d3e2fd;
  font-weight: bold;
}

.unread-indicator {
  color: #797c81;
  font-size: 1rem;
}

.compose-btn:hover {
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.44);
}

.nav-link:hover {
  background-color: #e3e3e7;
  cursor: pointer;
}

/* filter */

.filter-cmpt {
  height: 10vh;
}

.form-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-container {
  display: flex;
  align-items: center;
  height: 50%;
  width: 30%;
  gap: 20px;
  background-color: #e9f1fb;
  border-radius: 50px;
  padding: 0 30px;
}

.input-search {
  border: none;
  background-color: transparent;
}

.input-search:focus {
  outline: none;
}

.btn-filter {
  display: flex;
  gap: 5px;
}

.btn-filter > button {
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: white;
}

/* main */

main {
  width: 80vw;
  height: 100vh;
}

section {
  width: 100%;
  overflow-y: auto;
}

.email-index {
  display: flex;
  height: 85vh;
}

.email-item,
article {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 1px;
  width: 100%;
}

.email-info {
  width: 90%;
}

.email-item:hover {
  box-shadow: 1px 1px 3px 1px rgba(17, 17, 17, 0.732);
}

.fav-icon {
  padding: 10px;
  margin: 10px;
  color: rgba(128, 128, 128, 0.416);
}

.fav-icon:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.342);
  border-radius: 50%;
}

.trash-icon {
  width: 5%;
  color: rgba(128, 128, 128, 0.352);
}
.trash-icon:hover {
  color: black;
  cursor: pointer;
}

.mail-from {
  width: 25%;
}

.mail-subj {
  width: 50%;
}

.mail-sent {
  width: 20%;
}

/* Email Details */

.email-details-icon-back {
  margin: 10px;
}

.email-details-cmpt {
  background-color: white;
  height: 85vh;
}

.email-details-cont {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.email-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.user-email-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.user-icon {
  color: grey;
  background-color: rgba(128, 128, 128, 0.283);
  padding: 10px;
  border-radius: 50%;
  font-size: 1.2rem;
}

.from,
h4 {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

/* Compose */

.email-compose-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.email-compose-cmpt {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  width: 40%;
  box-sizing: border-box;
}

.compose-header {
  position: relative;
  background-color: #f2f6fb;
  color: black;
  padding: 10px;
}

.compose-header p {
  margin: 0;
  font-size: 18px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.close-btn:hover {
  cursor: pointer;
  color: red;
}

.form-compose {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 10px;
  align-items: flex-start;
  color: black;
  background-color: white;
}

p {
  margin: 10px 0;
}

.to-input-compose,
.subject-input-compose {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 10px 0;
}

.message-input-compose {
  border: none;
}
.to-input-compose:focus,
.subject-input-compose:focus,
.message-input-compose:focus {
  outline: none;
}

.send-btn-compose {
  position: absolute;
  bottom: 5px;
  background-color: #0957d0;
  border: none;
  color: white;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 15px;
}
