#root {
  background-color: #f7f8fc;
  height: 100vh;
}

nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: #f7f8fc;
  gap: 25px;
}

.nav-link,
.compose-btn {
  color: rgb(63, 62, 62);
  text-decoration: none;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  height: 40px;
  align-items: center;
}

.compose-btn {
  background-color: #c1e7fe;
  width: 50%;
  font-size: large;
  border-radius: 5px;
  border: none;
  justify-content: center;
}

.nav-link {
  border-radius: 0 15px 15px 0;
  padding: 5px;
}

.compose-btn:hover {
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.44);
}

.nav-link:hover {
  background-color: #e3e3e7;
  cursor: pointer;
}

main {
  width: 80vw;
  height: 100vh;
}

section {
  width: 100%;
  overflow-y: auto; 

}

form, .filter-options{

  height: 5vh;
display: flex;
align-items: center;
}

.filter-options{
  justify-content: center;

}

.email-index {
  display: flex;
  height: 95vh;

}

.search-container,
input[type="text"] {
  background-color: #e9f1fb;
  border-radius: 5px;
  width: 30%;
  ;
}

.search-container{
display: flex;
height: 100%;
align-items: center;
}

input[type="text"] {
  border: none;
}

input:focus{
  outline: none;
}


.email-item, article {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: 1px;
  width: 100%;
}

.email-info {
  width: 90%;
}

.email-item:hover {
  box-shadow: 1px 1px 3px 1px rgba(17, 17, 17, 0.732);
}

.fav-icon {
  width: 5%;
  color: rgba(128, 128, 128, 0.416);
}

.fav-icon:hover {
color: rgb(225, 225, 17);
cursor: pointer;
}

.trash-icon {
  width: 5%;
  color: rgba(128, 128, 128, 0.416);
}
.trash-icon:hover {
  color: black;
  cursor: pointer;
  }

.mail-from {
  width: 25%;
}

.mail-subj {
  width: 50%;
}

.mail-sent {
  width: 20%;
}


.from, h4 {
  display: flex;
  justify-content: space-between;
  padding: 60px 50px;

}

a {
  text-decoration: none;
}


.email-compose-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  z-index: 2; 
}

.email-compose-cmpt {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  width: 70%;
  box-sizing: border-box;
}

.compose-header {
  position: relative;
  background-color: rgba(128, 128, 128, 0.428);
  color: black;
  padding: 10px;
}

.compose-header p {
  margin: 0;
  font-size: 18px;
}

.close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.close-btn:hover{
 cursor: pointer;
 color: red;
}

.form-compose {
  display: flex;
  flex-direction: column;
  height: 60vh;
padding: 10px;
  align-items: flex-start;
  color: black;
  background-color: #e9f1fb;
}

p {
  margin: 10px 0;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  width: 70%;
  background-color: #e9f1fb;
border: none;
}


input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 20%;
  border-radius: 15px;
}
