@import '../../global.scss';

.aboutPage {
  @include flex-container(column, space-around);
  position: relative;
  height: 90vh;
  background-color: $secondary-bg-color;
  border-radius:10px;
  gap: 15px;
  padding: 40px;

  h1 { text-align: center; }

  .redText { color: $highlight-color; }
  .yellowText { color: yellow; }
  .greenText { color: green; }
  .blueText { color: blue; }

  .backBtn {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    border: 1px solid;
    border-radius:3px;
    font-size: 1.5rem;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }
}
