@import "../../global.scss";

.homePage {
  @include flex-container(column, space-around);
  position: relative;
  height: 90vh;
  text-align: center;
  background-color: $secondary-bg-color;
  border-radius: 10px;
  padding: 2% 10%;

  h3 {
    color: $main-text-color;
  }

  .mailHomeIcon {
    color: $highlight-color;
    font-size: 4rem;
  }

  .emailPageLink,
  .aboutLink {
    @include flex-container(row, flex-start);
    text-decoration: none;
    color: $main-text-color;
    font-size: 2rem;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      color: $highlight-color;
    }
  }

  .aboutLink {
    font-size: 1rem;
  }
}

h1 {
  span {
    &:nth-child(1) {
      color: $highlight-color;
    }
    &:nth-child(2) {
      color: yellow;
    }
    &:nth-child(3) {
      color: blue;
    }
    &:nth-child(4) {
      color: green;
    }
  }
}
